@using BusinessObject.ViewModel;
@model SkillView

@{
    Layout = "/Views/Shared/_Layout2.cshtml";
}

<div class="container">
    <div class="row">
        <h2 class="text-center">Updating Skill</h2>
     </div>
     <div class="text-danger">
         @Html.ValidationSummary()
     </div>
    </div>
    <div class="row">
        <form method="post" class="py-1">
            <div class="form-group py-2">
                <label asp-for="@Model.Name">Skill Name</label>
                <input asp-for="@Model.Name" value="@Model.Name" type="text" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group py-2">
                <label asp-for="@Model.Level">Skill Level Out of 10</label>
                <input asp-for="@Model.Level" value="@Model.Level" type="number" class="form-control">
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
            <br />
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>