@using BusinessObject.ViewModel;
@model ExperienceView
@{
    Layout = "/Views/Shared/_Layout2.cshtml";
}
<div class="container">
    <div class="row">
        <h2 class="text-center">Updating experience</h2>
    </div>

    <div class="row">
        <form method="post" class="py-1" >
            <div class="form-group py-2">
                <label asp-for="@Model.Company">Company Name</label>
                <input asp-for="@Model.Company" value="@Model.Company" type="text" class="form-control">
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group py-2">
                <label asp-for="@Model.Position">Position</label>
                <input asp-for="@Model.Position" value="@Model.Position" type="text" class="form-control">
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group py-2">
                <label asp-for="@Model.Description">Description about your work</label>
                <textarea asp-for="@Model.Description" value="@Model.Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group py-2">
                <label asp-for="@Model.StartDate">Start Date</label>
                <input asp-for="@Model.StartDate"  type="date" class="form-control">
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group py-2">
                <label asp-for="@Model.EndDate">End Date</label>
                <input asp-for="@Model.EndDate"  class="form-control" type="date">
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div> 
            <input  type="hidden" asp-for="@Model.Id" value="@Model.Id"/>
            <br />
            <button type="submit" class="btn btn-primary">Update</button>
            <a class="btn btn-secondary mx-3" asp-controller="Experience" asp-action="Index">Back</a>
        </form>
    </div>
</div>